page-our-recommendations {
  a {
    color: white;
    text-decoration: none;
  }
  .primary-nav li {
    font-size: 22px;
  }
  .alert-md .alert-radio-icon {
    left: -10px;
  }
  .list-ios {
    overflow: hidden;
  }
  .title-ios {
    margin-bottom: 20px;
    display: block;
  }
  .item-radio {
    padding-left: 0;
    display: block;
    float: right;
    width: 33.333%;
    padding: 0 5px;
    font-size: 1.4rem;
  }
  .item-select {
    display: block;
    float: right;
    width: 50%;
    padding: 0 5px;
    font-size: 1.4rem;
  }
  .list-ios {
    margin-bottom: 20px;
  }
  .list-ios > .item-block:first-child {
    border-top: none;
  }
  // .toolbar-title {
  //   overflow: auto;
  // }
  .list-md {
    overflow: hidden;
  }
  .list-md > .item-block:last-child ion-label, .list-md > .item-block:last-child .item-inner, .list-md > .item-wrapper:last-child ion-label, .list-md > .item-wrapper:last-child .item-innerv {
    border-bottom: 1px solid #dedede;
  }
}
