<!--
  Generated template for the OurRecommendationsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

  <header class="header">

    <a (click)="openMenu()" class="primary-nav-trigger">
  			<span class="menu-icon"></span>
  		</a>
    <!-- primary-nav-trigger -->

    <div class="logo"><a href="index.html"><img src="assets/images/logo.png" alt="Logo"></a></div>

  </header>

<ion-content>

  <section class="intro-pages">
    <div class="intro-box">
      <h1>توصياتنا</h1>
    </div>
  </section>

  <main class="main-content">
    <div class="container">
      <section class="blocks">
        <div *ngFor="let recommend of recentOurRecommendations; let i = index;" class="block">
        <ul>
          <div class="container">
            <div class="row" id="results">
              <div class="col-md-3 col-sm-6">
                <div class="rec_box">
                  <header class="equal_rec">
                    <h5 *ngIf="recommend.status == 0">جديد <i class="fa fa-minus" aria-hidden="true"></i></h5>
                    <h5 *ngIf="recommend.status == 1">رابح <i class="fa fa-minus" aria-hidden="true"></i></h5>
                    <h5 *ngIf="recommend.status == 2">وقف خسائر <i class="fa fa-minus" aria-hidden="true"></i></h5>
                    <h5 *ngIf="recommend.status == 3">البيع بقرب سعر الشراء <i class="fa fa-minus" aria-hidden="true"></i></h5>
                    <h5 *ngIf="recommend.status == 4">معدله <i class="fa fa-minus" aria-hidden="true"></i></h5>
                  </header>

                  <ul class="box_body">
                    <li>
                      <!-- <strong> معلومات عن التوصية</strong> -->
                      <span>{{ recommend.description }}</span>
                    </li>
                    <li><strong>السهم:</strong> <span>{{ recommend.recommendation_name }}</span></li>
                    <li>
                      <strong> الدولة : </strong>
                      <span>{{ recommend.country }}</span>
                    </li>
                    <li>
                      <strong> النوع : </strong>
                      <span>{{ recommend.stock_type_id == 0 ? 'شرعي' : 'الكل'  }}</span>
                    </li>
                    <li>
                      <strong> القطاع : </strong>
                      <span>{{ recommend.sector }}</span>
                    </li>
                    <li><strong>سعر الشراء:</strong> <span>{{ recommend.buyPrice }}</span></li>
                    <li><strong>سعر البيع :</strong> <span>{{ recommend.sellPrice }}</span></li>
                    <li><strong>سعر وقف الخسارة :</strong> <span>{{ recommend.stopLoss }}</span></li>
                    <li>
                      <strong>تاريخ الإنشاء :</strong>
                      <span>{{ recommend.created2_at }}</span>
                    </li>
                    <li>
                      <strong> تاريخ اّخر تعديل : </strong>
                      <span>{{ recommend.updated2_at }}</span>
                    </li>

                  </ul>
                </div>
              </div>
            </div>
          </div>
        </ul>
      </div>
      </section>
    </div>
  </main>

</ion-content>
